body {
  margin: 0px;
  position: relative;
  min-height: 100vh;
  font-family: calibri;
}

a {
  text-decoration: none;
  color: initial;
  font-weight: bold;
}

input {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  text-align: left;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:hover {
  border-top-color: #000000;
  border-left-color: #000000;
}
input:focus {
  outline: none;
}
input.ng-invalid {
  background: #ffd5d5;
}
input.ng-pristine {
  background: initial;
}

button {
  border: none;
  background: #5e8ae6;
  margin: 5px;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}
button:disabled {
  background: grey;
}

form {
  margin-top: 10px;
}

.page-header {
  background: #ff3939;
  height: 80px;
  color: white;
  text-align: center;
}

.page-footer {
  padding: 15px;
  height: 30px;
  background: #333333;
  color: white;
  text-align: center;
}

.page-content {
  background: #d0d0d0;
}

.recurerex-icon-container {
  height: 90%;
  padding: 5px 0px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 25%;
}
.recurerex-icon-container img {
  height: 100%;
  cursor: pointer;
}

.page-name {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 1.8em;
  font-weight: bold;
}

.signup-login-link,
.navigation-link {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  padding: 5px;
  color: white;
  border-radius: 2px;
  font-size: 1.2em;
  cursor: pointer;
}
.signup-login-link:hover,
.navigation-link:hover {
  background: #ec1313;
}
.signup-login-link.login,
.navigation-link.login {
  padding: 0;
  height: 0;
}
.signup-login-link img,
.navigation-link img {
  width: 20px;
  filter: invert(100%);
}

.home-page-content {
  width: 100%;
  min-height: 500px;
}

.home-page-content {
  background-image: url("img/shutterstock_285150836.jpg");
  background-position: center center;
  background-size: 100%;
}
.home-page-content.login {
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}

.social-links {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  vertical-align: middle;
}
.social-links img {
  width: 100%;
}

.copy-rights {
  width: 25%;
  vertical-align: middle;
  display: inline-block;
}

.social-links-contaner {
  width: 70%;
  vertical-align: middle;
  text-align: right;
  display: inline-block;
}

.login-signup-block-container {
  vertical-align: middle;
  margin: auto;
  background: white;
  text-align: left;
  display: inline-block;
  margin: 15px 0;
  border-radius: 5px;
  padding: 10px;
}

.login-signup-block {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  text-align: left;
  color: #636363;
  width: 250px;
}
.login-signup-block.signup {
  border-left: 2px solid #DDDDDD;
}
.login-signup-block input {
  width: 90%;
  display: block;
}
.login-signup-block button {
  width: 96%;
  font-size: 0.9em;
}
.login-signup-block label {
  display: block;
  margin: 0 5px;
}
.login-signup-block .error-message {
  padding: 0 5px;
  min-height: 20px;
  color: red;
  font-size: 0.8em;
}

.block-label {
  text-align: center;
  color: #5f5e5e;
  font-size: 1.2em;
  padding: 5px;
  border-bottom: 2px solid #DDDDDD;
}

.product-container {
  background: white;
  width: 250px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.product-container .product-name {
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}
.product-container .product-image {
  width: 100%;
  height: 230px;
  background-position: center center;
  border-radius: 5px;
  cursor: pointer;
}

.subscription-container {
  background: white;
}

.subscription-container {
  background: white;
  width: 400px;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  height: 250px;
  overflow: hidden;
  margin: 15px 10px;
}
.subscription-container.error-message {
  padding: 20px;
  font-size: 2em;
}

.business-name {
  border-bottom: 2px solid grey;
  font-size: 1.2em;
  padding: 5px 0;
}

.subscription-status-parent {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.subscription-status-parent div {
  display: inline-block;
}

.subscription-status {
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.date-range {
  border-bottom: 2px solid grey;
  text-align: center;
}
.date-range div {
  display: inline-block;
  width: 30%;
  padding: 5px 0;
}

.subscription-scroll {
  height: 165px;
  overflow: auto;
}

.subscription-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.subscribe-container {
  width: 45%;
  background: #f1f1f1;
  display: inline-block;
  top: 20%;
  left: 25%;
  position: absolute;
  padding: 0 10px;
  border-radius: 5px;
}
.subscribe-container button {
  width: 80%;
  cursor: pointer;
  margin: 10px;
}

.recur-pay-label {
  font-weight: bold;
  padding: 5px;
}

.recur-subscribe-parent {
  padding: 5px;
  border-bottom: 2px solid #cccccc;
}

.payment-list-parent {
  border-bottom: 2px solid #cccccc;
  padding: 5px;
}

.close-sub {
  position: absolute;
  right: -10px;
  top: -10px;
  padding: 5px;
  background: red;
  border-radius: 35px;
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.recur-subscribe {
  display: inline-block;
  vertical-align: middle;
}
.recur-subscribe input {
  text-align: left;
  vertical-align: middle;
}
.recur-subscribe label {
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
