<div class="each-page-container home">
    <div class="page-header">
        <a class="recurerex-icon-container" href="#home"><img src="img/logo.png" />
        </a>
        <div class="page-name"></div>
        <a class="signup-signin-block" ng-href="#login">Signup/Signin</a>
    </div>
    <div class="home-page-content">
        <div class="content-overley">
        </div>
    </div>
    <div class="page-footer">
        <div class="copy-rights">&copy; NPM Technologies</div>
        <div class="social-links-contaner">
            Social Network
            <a class="social-links" href="https://www.facebook.com/NPMTechnologies" name="Facebook">
                <img src="img/FB-fLogo-Blue-broadcast-2.png" />
            </a>
            <a class="social-links" href="https://twitter.com/npmtechnologies">
                <img src="img/Twitter_Logo_Blue.png" />
            </a>
        </div>
    </div>
</div>
