<div class="each-page-container home" ng-init=init()>
    <div class="page-header">
        <a class="recurerex-icon-container" href="#home"><img src="img/logo.png" />
        </a>
        <div class="page-name">Products</div>
        <a class="signup-login-block" ng-click="signout()">Signout</a>
    </div>
    <div class="home-page-content login">
        <div class="product-container" ng-repeat="product in productList">
            <div class="product-image" ng-style="productimage(product)" ng-click="clickedOnProduct(product)"></div>
            <div class="product-name">{{product.name}}</div>
            <div class="product-price">&#8377; {{product.price}}</div>
            <!--<select ng-model="product.selectedRecur">
                <option value="" selected>Select Plan</option>
                <option ng-repeat="recur in product.recurrence" value={{recur}}>{{recur.name}}</option>
            </select>-->
            <!--<div ng-repeat="recur in product.recurrence">
                <input type='radio' name="recurance" value={{recur.name}} ng-model="product.selectedRecur" ng-click="changePlan()"/>
                <label class="recuring-name" ng-click="clickOnRecur(recur)">{{recur.name}}</label>
                <select ng-model="selectedPayment">
                    <option value="" selected>Select Payment</option>
                    <option ng-repeat="payment in recur.payment_type_formatted" value="payment.key">{{payment.value}}</option>
                </select>
            </div>-->
            <!--<select ng-model="product.selectedPayment">
                <option value="" selected>Select Payment</option>
                <option ng-repeat="payment in JSON.parse(product.selectedRecur).payment_type_formatted" value="payment.key">{{payment.value}}</option>
            </select>-->
            <div class="product-subscribe">Subscribe</div>
        </div>
    </div>
    <div class="page-footer">
        <div class="copy-rights">&copy; NPM Technologies</div>
        <div class="social-links-contaner">
            Social Network
            <a class="social-links" href="https://www.facebook.com/NPMTechnologies" name="Facebook">
                <img src="img/FB-fLogo-Blue-broadcast-2.png" />
            </a>
            <a class="social-links" href="https://twitter.com/npmtechnologies">
                <img src="img/Twitter_Logo_Blue.png" />
            </a>
        </div>
    </div>
</div>
