<div class="each-page-container home" ng-init=init()>
    <div class="page-header">
        <a class="recurerex-icon-container" href="#login"><img src="img/logo.png" />
        </a>
        <div class="page-name">User Subscriptions</div>
        <a class="navigation-link" ng-href="#products">Products</a>
        <a class="signup-login-link" ng-click="signout()"><img src="img/logoff.png"></a>
    </div>
    <div class="home-page-content login">
        <div class="subscription-container" ng-repeat="subscription in subscriptions" ng-show="!errorMessageSubscription">
            <div class="business-name">{{subscription.business.name}}
                <div>{{subscription.business.description}}</div>
            </div>
            <div class="date-range">
                <div>{{dateFormat(subscription.start_date.date)}}</div>
                <div>to</div>
                <div>{{dateFormat(subscription.end_date.date)}}</div>
            </div>
            <div class="subscription-scroll">
                <div class="subscription-status-parent" ng-repeat="delivery in subscription.deliveries | orderBy:'delivery_date'">
                    <div class="delivery-date">{{delivery.delivery_date}}</div>
                    <div class="subscription-status" ng-style="procesState(delivery.delivery_code)">{{delivery.delivery_status}}</div>
                </div>
            </div>
        </div>
        <div class="subscription-container error-message" ng-show="errorMessageSubscription">
            No Subscriptions are available. Go to <a href="#products">products</a> to Subscribe.
        </div>
    </div>
    <div class="page-footer">
        <div class="copy-rights">&copy; NPM Technologies</div>
        <div class="social-links-contaner">
            Social Network
            <a class="social-links" href="https://www.facebook.com/NPMTechnologies" name="Facebook">
                <img src="img/FB-fLogo-Blue-broadcast-2.png" />
            </a>
            <a class="social-links" href="https://twitter.com/npmtechnologies">
                <img src="img/Twitter_Logo_Blue.png" />
            </a>
        </div>
    </div>
</div>
